# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
# generated style sheets
static/style.css
*.css.map
# generated test coverage
cov/
cov.lcov
# generated fresh files
fresh.gen.ts
# others
*.DS_Store
.obsidian