# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
# generated style sheets
static/style.css
*.css.map
# generated database
# data/
# generated test coverage
cov/
cov.lcov
# others
*.DS_Store
.obsidian