// Components
@import 'components/ContributionCalendar/style.scss';

// Islands
@import 'islands/EntryInput/style.scss';
@import 'islands/Entry/style.scss';
@import 'islands/EntryQuery/style.scss';

:root {
  --clr-bg-panel-10: rgba(0, 0, 0, 0.1);
  --clr-bg-panel-20: rgba(0, 0, 0, 0.2);
  --clr-bg-panel-30: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg-panel-10: rgba(255, 255, 255, 0.1);
    --clr-bg-panel-20: rgba(255, 255, 255, 0.2);
    --clr-bg-panel-30: rgba(255, 255, 255, 0.3);
  }
}

.clr-bg-panel-10 {
  background-color: var(--clr-bg-panel-10);
}
.clr-bg-panel-20 {
  background-color: var(--clr-bg-panel-20);
}
.clr-bg-panel-30 {
  background-color: var(--clr-bg-panel-30);
}
