.comp-contributionCalendar {
  display: block;
  margin-bottom: var(--s-double);
}
.comp-contributionCalendar-block {
  width: var(--s-single);
  height: var(--s-single);
  border-radius: var(--s-eighth);
}
.comp-contributionCalendar-block_none {
  background-color: var(--clr-bg-panel-10);
}
.comp-contributionCalendar-block_low {
  background-color: var(--clr-bg-panel-20);
}
.comp-contributionCalendar-block_mid {
  background-color: var(--clr-bg-panel-30);
}
.comp-contributionCalendar-block_high {
  background-color: var(--clr-bg-panel);
}
.comp-contributionCalendar-week {
  display: flex;
  flex-direction: column;
  gap: var(--s-eighth);
}
.comp-contributionCalendar-month {
  display: flex;
  gap: var(--s-eighth);
}
.comp-contributionCalendar-calendar {
  display: flex;
  gap: var(--s-single);
}
.comp-contributionCalendar-calendar_module:first-child .comp-contributionCalendar-month {
  justify-content: end;
}

.isl-EntryInput {
  display: block;
}
.isl-EntryInput-container {
  padding: var(--s-three-quarters) var(--s-three-quarters) var(--s-half) var(--s-quarter);
}
.isl-EntryInput-row_hidden, .isl-EntryInput-row {
  display: grid;
  grid-template-columns: var(--s-one-and-half) 1fr;
}
.isl-EntryInput-row_hidden {
  max-height: 0rem;
  overflow: hidden;
}
.isl-EntryInput-row_hidden.transition-appears-maxheight {
  max-height: var(--s-double);
  transition: max-height 0.1 ease-in-out;
}
.isl-EntryInput-textarea {
  background: transparent;
  resize: none;
  outline: none;
}
.isl-EntryInput-field {
  box-sizing: border-box;
}
.isl-EntryInput-field:focus {
  outline: none;
}
.isl-EntryInput-textarea, .isl-EntryInput-field {
  border-radius: var(--s-eighth) 0 0 var(--s-eighth);
  padding: var(--s-quarter) var(--s-half);
  width: 100%;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;
}
.isl-EntryInput-textarea:hover, .isl-EntryInput-field:hover {
  background-color: var(--clr-bg-panel-10);
}
.isl-EntryInput-textarea:focus, .isl-EntryInput-field:focus {
  background-color: var(--clr-bg-panel-20);
}
.isl-EntryInput-characterIndicator {
  height: var(--s-quarter);
}
.isl-EntryInput-characterIndicator_progress {
  background-color: var(--clr-txt-personality);
  height: inherit;
  max-width: 100%;
}
.isl-EntryInput-characterIndicator_excess {
  background-color: var(--clr-txt-error);
  height: inherit;
  width: 0%;
  max-width: 100%;
}

.isl-entry-container {
  border-radius: var(--s-eighth);
  outline: 0;
  margin: var(--s-eighth) 0rem;
  padding: 0rem 0rem;
  background-color: transparent;
  transition: padding 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.isl-entry-container .comp-chiplist {
  margin-top: var(--s-half);
  padding: 0 var(--s-half);
}
.isl-entry-container .comp-chip {
  padding-right: var(--s-half);
}
.isl-entry-container .comp-chip_remove {
  display: none;
}
.isl-entry-container:hover {
  background-color: var(--clr-bg-panel-10);
}
.isl-entry-container:focus, .isl-entry-container:focus-within {
  padding: var(--s-half) var(--s-half) var(--s-half) 0rem;
  background-color: var(--clr-bg-panel-20);
}
.isl-entry-container:focus:hover, .isl-entry-container:focus-within:hover {
  background-color: var(--clr-bg-panel-30);
}
.isl-entry-container:focus .isl-entry-hidden, .isl-entry-container:focus-within .isl-entry-hidden {
  display: block;
}
.isl-entry-row {
  display: grid;
  grid-template-columns: var(--s-single) 1fr;
  align-items: start;
  gap: 0 var(--s-half);
  padding-left: var(--s-half);
}
.isl-entry-link {
  text-decoration: underline;
}
.isl-entry-hidden {
  filter: opacity(0.6);
  display: none;
}

:root {
  --clr-bg-panel-10: rgba(0, 0, 0, 0.1);
  --clr-bg-panel-20: rgba(0, 0, 0, 0.2);
  --clr-bg-panel-30: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg-panel-10: rgba(255, 255, 255, 0.1);
    --clr-bg-panel-20: rgba(255, 255, 255, 0.2);
    --clr-bg-panel-30: rgba(255, 255, 255, 0.3);
  }
}
.clr-bg-panel-10 {
  background-color: var(--clr-bg-panel-10);
}

.clr-bg-panel-20 {
  background-color: var(--clr-bg-panel-20);
}

.clr-bg-panel-30 {
  background-color: var(--clr-bg-panel-30);
}

/*# sourceMappingURL=style.css.map */
