.isl-EntryInput {
  display: block;

  &-container {
    padding: var(--s-three-quarters) var(--s-three-quarters) var(--s-half) var(--s-quarter);
  }

  &-row_hidden,
  &-row {
    display: grid;
    grid-template-columns: var(--s-one-and-half) 1fr;
  }

  &-row_hidden {
    max-height: 0rem;
    overflow: hidden;

    &.transition-appears-maxheight {
      max-height: var(--s-double);
      transition: max-height 0.1 ease-in-out;
    }
  }

  &-textarea {
    background: transparent;
    resize: none;
    outline: none;
  }

  &-field {
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &-textarea,
  &-field {
    border-radius: var(--s-eighth) 0 0 var(--s-eighth);
    padding: var(--s-quarter) var(--s-half);
    width: 100%;

    transition: background-color 0.1s ease-in-out;
    background-color: transparent;

    &:hover {
      background-color: var(--clr-bg-panel-10);
    }

    &:focus {
      background-color: var(--clr-bg-panel-20);
    }
  }

  &-characterIndicator {
    height: var(--s-quarter);

    &_progress {
      background-color: var(--clr-txt-personality);
      height: inherit;
      max-width: 100%;
    }

    &_excess {
      background-color: var(--clr-txt-error);
      height: inherit;
      width: 0%;
      max-width: 100%;
    }
  }
}
