.isl-entry {
  &-container {
    border-radius: var(--s-eighth);
    outline: 0;
    margin: var(--s-eighth) 0rem;
    padding: 0rem 0rem;
    background-color: transparent;
    transition: padding 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;

    .comp-chiplist {
      margin-top: var(--s-half);
      padding: 0 var(--s-half);
      display: none;
    }

    .comp-chip {
      padding-right: var(--s-half);

      &_remove {
        display: none;
      }
    }

    &:hover {
      background-color: var(--clr-bg-panel-10);
    }

    &:focus,
    &:focus-within {
      padding: var(--s-half) var(--s-half) var(--s-half) 0rem;
      background-color: var(--clr-bg-panel-20);

      &:hover {
        background-color: var(--clr-bg-panel-30);
      }

      .comp-chiplist {
        display: flex;
      }
    }
  }

  &-row {
    display: grid;
    grid-template-columns: var(--s-single) 1fr;
    align-items: start;
    gap: 0 var(--s-half);
    padding-left: var(--s-half);
  }

  &-link {
    text-decoration: underline;
  }
}
